<!DOCTYPE html>
<html>
<head><title></title></head>

<header>
<%= header %>
</header>

<section><%= content_1 %></section>
<section><%= content_2 %></section>
<section><%= content_3 %></section>

<footer>
<%= footer %>
</footer>

</html>
